.boutton-pp-timeline button {
  background-color: #1d4a83;
  border: 1px solid white;
  
  border-radius: 30%;
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
 
  justify-content: center;
  height: 45px;
  width:150px;
  margin-right: 5px;
  align-items: center;
}

.boutton-pp-timeline button:focus {
  outline: none;
}

.boutton-pp-timeline ion-icon {
  font-size: 23px;
}

.boutton-pp-timeline button:hover {
  font-weight: bolder;
}