

.logout {
    position: relative; 
    z-index: 9999;
    float: right;
    padding: 30px;
   
  }

/* Message d'erreur */
.error-message {
  color: red;
  margin-top: 10px;
  font-size: 0.8rem;
}
